#background_pattern {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url(../img/pattern.png);
	opacity: 0.8;
}

#main {
	height:100%;
}

.homepage{
	display: flex;
	margin: auto;
}

.homepage h1{
	color: white;
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
}